
/* color:#E5FCC2; */
/* color:#9DE0AD; */
/* color:#45ADA8; */
/* color:#547980; */
/* color:#594F4F;  */

.header {
	padding: 0px 0px 0px 0px;
	background: #594F4F;
	color: #E5FCC2;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%
  }